.btn-custom{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.btn-custom:before{
    content: "";
    width: 210%;
    height: 210%;
    position: absolute;
    top: -100px;
    left: 180px;
    transform: skew(67deg);
    z-index: -1;
    transition: all 0.4s ease 0s;
}
.btn-custom:hover:before{
    top: -20px;
    left: -52px;
}
.btn-custom.red{
    border-radius: 15px;
    border: 1px solid #ff3939;
    color: #ff3939;
    box-shadow: 0 5px 10px 0 rgb(253, 57, 57);
    transition: 0.5s;
}
.btn-custom.red:hover:before{
    background: #ff3939;
}
.btn-custom.blue{
    border-radius: 15px;
    border: 1px solid #3fb7c8;
    color: #3fb7c8;
    box-shadow: 0 5px 10px 0 rgb(63, 182, 199);
    transition: 0.5s;
}
.btn-custom.blue:hover:before{
    background: #3fb7c8;
}
.btn-custom.orange{
    border-radius: 15px;
    border: 1px solid #f88030;
    color: #f88030;
    box-shadow: 0 5px 10px 0 rgb(247, 127, 48);
    transition: 0.5s;
}
.btn-custom.orange:hover:before{
    background: #f88030;
}
.btn-custom.green{
    border-radius: 15px;
    border: 1px solid #35c568;
    color: #35c568;
    box-shadow: 0 5px 10px 0 rgb(53, 196, 104);
    transition: 0.5s;
}
.btn-custom.green:hover:before{
    background: #35c568;
}
.btn-custom.link{
    border: 1px solid #5895a5;
    color: #5894a4;
    transition: 0.5s;
    width: 100%; /* Кнопка занимает всю ширину родительского контейнера */
    height: 70px; /* Устанавливаем одинаковую высоту для всех кнопок */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center; /* Центрируем текст */
}
.btn-custom.link:hover:before{
    background: #5894a4;
}
.btn-custom.red:hover,
.btn-custom.blue:hover,
.btn-custom.orange:hover,
.btn-custom.yellow:hover,
.btn-custom.green:hover,
.btn-custom.link:hover{
    color: #fff;
}
.btn-custom.yellow{
    border-radius: 15px;
    border: 1px solid rgba(255, 174, 63, 0.71);
    color: rgba(255, 174, 63, 0.71);
    box-shadow: 0 5px 10px 0 rgba(255, 174, 63, 0.71);
    transition: 0.5s;
}
.btn-custom.yellow:hover:before{
    background: rgba(255, 174, 63, 0.71);
}
.btn-custom.disabled{
    border: 1px solid rgba(65, 60, 53, 0.71);
    color: rgba(65, 60, 53, 0.71);
}
.btn-custom {
    text-transform: uppercase;
    width: 100%; /* Кнопка занимает всю ширину родительского контейнера */
    height: 70px; /* Устанавливаем одинаковую высоту для всех кнопок */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center; /* Центрируем текст */
}
.modules h2, .links h2 {
    margin-bottom: 24px;
}
.modules .col-3, .links .col-3 {
    margin-bottom: 15px;
}
.modules div.row {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}