.my-container{
    max-width: 1600px;
    margin: 0 auto;
}
.multi-line-link {
    display: inline-block; /* или block в зависимости от нужного контекста */
    width: 150px; /* установите ширину по необходимости */
    white-space: normal; /* позволяет переносить текст */
    text-align: left; /* выравнивание текста по левому краю, если нужно */
}

.second-line {
    color: rgba(255, 208, 100, 0.78); /* цвет второй строки */
    font-size: 25px;
}

.second-line:hover {
    text-decoration: none;
    color: rgba(255, 174, 63, 0.71)
}

.first-line {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #a0ada5;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease;

}

.nav-link {
    font-size: 20px;

}

.flex-container {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
}

.flex-container img {
    margin-right: 10px; /* Расстояние между изображением и текстом */
}

/* Стили для выравнивания ссылок по левому краю с отступом */
.navbar-nav {
    margin-left: 80px; /* Отступ слева */
}

.navbar-nav2 {
    margin-block-end: 0px;
    padding-left: 0px;
}

.navbar, .navbar-expand-lg, .navbar-dark, .bg-dark {
    padding-bottom: 0px;
    padding-top: 0px;
}

.container-xxl, .flex-container {
    background: rgba(51, 55, 59, 0.71);
    border-radius: 10px;
}

.navbar-brand {
    margin-right: 0px;
}

/*
FORMS
 */
.main-form {
   /* background: rgba(174, 174, 174, 0.3); */
    border-radius: 10px;
}
.reg_form h2 {
    text-align: center;
    margin: 30px 0;
}

.reg_form a {
    font-size: 1.2rem;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px;
}

.reg_form a:hover {
    margin-left: 55px;
    transition: all .3s;
}

.log_form h2 {
    text-align: center;
    margin: 30px 0;
}

.log_form a {
    font-size: 1.2rem;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 40px;
}

.log_form a:hover {
    margin-left: 55px;
    transition: all .3s;
}

.dropdown-menu {

}

/*
FORMS
 */
form div.err {
    color: rgba(195, 37, 37, 0.71);
}

/*
Teqnique
 */
.container-technique h2 {
    text-align: center;
    margin: 30px 0;
}

/*
Главная
 */
.btn{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.btn:before{
    content: "";
    width: 210%;
    height: 210%;
    position: absolute;
    top: -120px;
    left: 30px;
    transform: skew(67deg);
    z-index: -1;
    transition: all 0.4s ease 0s;
}
.btn:hover:before{
    top: -20px;
    left: -52px;
}
.btn.red{
    border-radius: 15px;
    border: 1px solid #ff3939;
    color: #ff3939;
    box-shadow: 0 5px 10px 0 rgb(253, 57, 57);
    transition: 0.5s;
}
.btn.red:hover:before{
    background: #ff3939;
}
.btn.blue{
    border-radius: 15px;
    border: 1px solid #3fb7c8;
    color: #3fb7c8;
    box-shadow: 0 5px 10px 0 rgb(63, 182, 199);
    transition: 0.5s;
}
.btn.blue:hover:before{
    background: #3fb7c8;
}
.btn.orange{
    border-radius: 15px;
    border: 1px solid #f88030;
    color: #f88030;
    box-shadow: 0 5px 10px 0 rgb(247, 127, 48);
    transition: 0.5s;
}
.btn.orange:hover:before{
    background: #f88030;
}
.btn.green{
    border-radius: 15px;
    border: 1px solid #35c568;
    color: #35c568;
    box-shadow: 0 5px 10px 0 rgb(53, 196, 104);
    transition: 0.5s;
}
.btn.green:hover:before{
    background: #35c568;
}
.btn.link{
    border: 1px solid #5895a5;
    color: #5894a4;
    transition: 0.5s;
    width: 100%; /* Кнопка занимает всю ширину родительского контейнера */
    height: 70px; /* Устанавливаем одинаковую высоту для всех кнопок */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center; /* Центрируем текст */
}
.btn.link:hover:before{
    background: #5894a4;
}
.btn.red:hover,
.btn.blue:hover,
.btn.orange:hover,
.btn.yellow:hover,
.btn.green:hover,
.btn.link:hover{
    color: #fff;
}
.btn.yellow{
    border-radius: 15px;
    border: 1px solid rgba(255, 174, 63, 0.71);
    color: rgba(255, 174, 63, 0.71);
    box-shadow: 0 5px 10px 0 rgba(255, 174, 63, 0.71);
    transition: 0.5s;
}
.btn.yellow:hover:before{
    background: rgba(255, 174, 63, 0.71);
}
.btn.disabled{
    border: 1px solid rgba(65, 60, 53, 0.71);
    color: rgba(65, 60, 53, 0.71);
}
.btn-custom {
    text-transform: uppercase;
    width: 100%; /* Кнопка занимает всю ширину родительского контейнера */
    height: 70px; /* Устанавливаем одинаковую высоту для всех кнопок */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center; /* Центрируем текст */
}
.apps h2, .links h2 {
    margin-bottom: 24px;
}
.apps .col-3, .links .col-3 {
    margin-bottom: 15px;
}
.apps div.row {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}