html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(22, 45, 69);
}

body{
    background: #f6f6f6;
}
a{
    text-decoration: none;
    color: rgb(81, 154, 238);
}
/*
    HEADER
 */
header{
    background: rgba(202,202,202,0.78);
    height: 70px;
}
header div{
    background: rgba(182,182,182,0.78)
}
header *{
    color: #162d45;
}
header h1{
    margin-top: 5px;
    font-size: 1.5rem;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #162d45;
    padding: 20px;
}
header ul li a:hover {
    background: #006669;
    transition: 0.5s;
    color: #fff;
}
header ul li ul{
    position: absolute;
    top: 69px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: white;
    color: #008489;
}

/*
    Body
 */
