:root {
   font-size: 1em;
}

/* modal window */
.modal-dialog {
   max-width: calc(100% - 2 * var(--bs-modal-width)) !important;
}
.modal-body-id {
   display: none;
} 
.modal-body-content {
   border-radius: 1rem;
   background-color: rgba(235, 235, 235, 0.5);
   overflow-x: auto;
}
.modal-body-title {
   max-height: 5rem;
   overflow: auto;
}
.response{
   border-top: 2px solid grey;
}
.response textarea {
   min-height: 2.7rem;
   outline: none;
   border: none;
   border-radius: 0.5rem;
   background-color: rgba(235, 235, 235, 0.5);
}
.form-select {
   width: 25%;
}