#legend-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 40%;
}
#legend-container ul li {
    min-width: calc(10% - (9 * 1rem)/5);
    margin: 0 !important;
}
.my-container {
    position: relative;
    margin: auto;
    height: 80rem;
}